/* Background animation */
.background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}


/* Styles for stars */
.star, .comet {
    position: absolute;
    width: 1px;
    height: 1px;
    background: #ffffff;
    opacity: 0.8;
}

.comet {
    position: relative; /* Make the parent element relative */
    width: 4px; /* Width of the comet's head */
    height: 4px; /* Height of the comet's head */
    border-radius: 50%; /* Make the head round */
    animation: comet-move 3s linear infinite; /* Adjust duration and timing function */
    background: radial-gradient(circle, #ff9933, #0cc663); /* Gradient effect for the comet's tail */
    filter: blur(2px); /* Add a blurry tail effect */
    box-shadow: 0 0 10px 2px #ff9933, 0 0 15px 3px #0cc663; /* Add a glowing effect */
    mix-blend-mode: overlay; /* Blend mode to enhance glow */
    transform-origin: center; /* Set transform origin to center */
}

@keyframes comet-move {
    0% {
        transform: translate(0, 0) scale(1); /* Start with original size */
        opacity: 1;
    }
    100% {
        transform: translate(100vw, -100vh) scale(0.5); /* Adjust final position and size */
        opacity: 0;
    }
}

/* Styles for login form */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100vh; 
}

/* Styles for login form elements */
.login-form form {
    width: 300px; /* Adjust the width of the form */
}

.login-form input, .login-form button {
    width: 100%; 
}
