{% extends "base.html" %}

{% block body %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username() }}
            {% for error in form.username.errors %}
                <p class="form_error_message">{{ error }}</p>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password() }}
            {% for error in form.password.errors %}
                <p class="form_error_message">{{ error }}</p>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="submit_field") }}</p>

        <!-- Flash Messages Display Below the Button -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="flash-messages">
                {% for message in messages %}
                    <div class="flash-message form_error_message">{{ message }}</div>
                {% endfor %}
            </div>        
        {% endif %}
        {% endwith %}
    </form>
{% endblock %}