<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title  %}
    <title>{{title}} - VirtualTA</title>
    {% else %}
    <title>VirtualTA</title>
    {% endif %}
    {% block head %}{% endblock %}
</head>
<body>
    <div><a href="{{ url_for('welcome') }}">Home</a></div>
    <div><a href="{{ url_for('login') }}">LogIn</a></div>
    <div><a href="{{ url_for('register') }}">Register</a></div>
    <hr>
    {% block body %}{% endblock %}
</body>
</html>